.App {
  
  text-align: center;


}

      /* Home Css   */
    
.carousel-inner {
  border-radius: 50px; 
}
.carousel img{
  width: 850px;
 display:inline-block;
  height: 550px;
  border-radius: 50px;
 box-shadow: rgba(0, 0, 0, 0.9) 2px 2px 5px 1px;
}

.carousel.img:hover{
  transform: scale(0.98);
}

.register{

  max-width: 800px;

}
