.App {
  text-align: center;
}

/* Home Css   */

.carousel-inner {
  border-radius: 50px;
  max-width: 80%;
  margin: auto;
}

.carousel img {
  width: 850px;
  display: inline-block;
  max-height: 550px;
  border-radius: 10px;
}

/*Navbar Css*/

.navbarr {
  padding: 0.7rem;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #fbf8f3;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 50px;
}

.word-spacing span {
  word-spacing: 25px;
}

.register {
  max-width: 800px;
}

.dark {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 0.5rem 0;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-item :hover {
  color: rgb(23, 23, 193);
}

/*Regiter Css*/
.register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register form input {
  width: 300px;
}

/*Gallery Css*/
.nodata-img {
  display: block;
  width: 500px;
  padding: 0;
  border-radius: 20px;

  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.7);
  margin: 5rem auto;
}

.color {
  color: orange;
}

/* Pagination Css*/

.page-link {
  cursor: pointer;
}

.page-link:hover,
.page-link:focus {
  background-color: #0c8dc9cd;
  color: #fbf8f3;
}

.pagination-active {
  background-color: #0c8dc9c0;
  color: #fff;
}

.pagination-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/*Galler Img*/

.card-image :hover {
  transform: scale(0.98);
}
.card-img {
  min-height: 300px;
}

/*Detail*/
.image-detail {
  max-width: 600px;
}

.image-url {
  margin: auto;
}

/*Footer*/

ul .link-footer Link:hover {
  color: red;
}

@media (max-width: 767px) {
  .image-detail {
    width: 100%;
  }

  .carousel-inner {
    border-radius: 50px;
    max-width: 100%;
    margin: auto;
  }

  .carousel img {
    width: 100%;
    display: inline-block;
    border-radius: 10px;
  }

  .navbarr {
    display: block !important;
  }

  .gallery-input {
    width: 80% !important;
  }
}
